@use '../util' as u;
.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    color: #ffffff;
    
    h1{
        position:relative ;
        font-size: 4rem;
        text-align: center;
        background-color:var(--text-color-gray);
        padding: 2rem;
    }

}